.details
  %h2= time_tag(@event.event_date)
  %h1= @event.title
  .copy
    %p= @event.body
  .reg-btn
    = link_to image_tag("reg-btn.png"), @event.booking_url, :target => "_blank"
  .mail-btn
    = link_to image_tag("email-btn.png"), "mailto:hello@refreshteesside.org?Subject=Refresh%20Teesside"

.location
  =raw(@event.location_map)
  %ul
    %li.address=@event.location_address
