!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    == <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    %title= content_for?(:title) ? yield(:title) : "Refresh"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    / Le styles
    = stylesheet_link_tag "application", :media => "all"
    / Le fav and touch icons
    %link{:href => "images/favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "images/apple-touch-icon.png", :rel => "apple-touch-icon"}/
    %link{:href => "images/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}/
    %link{:href => "images/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/


  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          .nav-collapse
            %ul.nav
              %li= link_to "Events", "#event"
              %li= link_to "Location", "#location"
              %li= link_to "About", "#about"
          =link_to image_tag("RefreshTeeside.png"), "#" ,:class => "brand"
          .nav-collapse
            %nav.social
              =link_to image_tag("group.png", :title => "Forum"), google_path, :target => "_blank"
              =link_to image_tag("twitter.png", :title => "Twitter"), twitter_path, :target => "_blank"
              =link_to image_tag("fb.png", :title => "Facebook"), facebook_path, :target => "_blank"
    .container{:id => "event"}
      -if controller_name != "events"
        .label
          %h1 Admin
        .content
          = yield
      -else
        .label
          %h1 Events
        .content
          = yield :event
    -if controller_name == "events"
    
      .dark-bar
        .inner
          .container{:id => "location"}
            .label
              %h1 Location
            = yield :location

                
      .light-bar
        .inner
          .container{:id => "about"}
            .label
              %h1 About
            .content.mbl
              .row
                .span5.offset1
                  %p.mbl 
                    In Teesside there are hundreds of creative businesses who can benefit from knowing each other. Many of the businesses are relatively small in size, focusing on a specific skill or service. Everyone can benefit from knowing other professionals in their own trades and networking with other professionals who offer skills and services they may require in the future.
                .span5
                  %p 
                    There will be developers with their laptops out sharing code and working on problems. There will be freelance developers and designers looking to connect with agencies. There will be photographers looking to offer their services to others. There will be business owners who may be recruiting. Most importantly there will be creative people networking with their peers.
    = javascript_include_tag "application"
